npm i @react-native-community/masked-view @react-navigation/native @react-navigation/native-stack @react-navigation/stack cli expo expo-status-bar react react-native react-native-gesture-handler react-native-reanimated react-native-safe-area-context react-native-screens react-dom react-native-web @expo/metro-runtime